@font-face {
    font-family: 'jetbrainsmono';
    font-weight: normal;
    font-style: normal;
    font-display: swap;
    src:
    //    local('jetbrainsmono'),
       url('/assets/fonts/JetBrainsMono-Medium.woff2') format('woff2');
}
@font-face {
    font-family: 'jetbrainsmono';
    font-weight: bold;
    font-style: normal;
    font-display: swap;
    src:
    //    local('jetbrainsmono'),
       url('/assets/fonts/JetBrainsMono-Bold.woff2') format('woff2');
}
@font-face {
    font-family: 'jetbrainsmono';
    font-weight: bolder;
    font-style: normal;
    font-display: swap;
    src:
    //    local('jetbrainsmono'),
       url('/assets/fonts/JetBrainsMono-ExtraBold.woff2') format('woff2');
}