@use 'index' as *;
@use 'sass:math';

* {
    // border: 1px solid rgba(172, 255, 47, 0.378);
}
:root {
    --fs-4xl: #{$fs-4xl * 0.8};
    --fs-3xl: #{$fs-3xl * 0.8};
    --fs-2xl: #{$fs-2xl * 0.8};
    --fs-xl: #{$fs-xl * 0.8};
    --fs-lg: #{$fs-lg * 0.8};
    --fs-md: #{$fs-md * 0.8};
}

@media (min-width: $query-md) {
    :root {
        --fs-4xl: #{$fs-4xl};
        --fs-3xl: #{$fs-3xl};
        --fs-2xl: #{$fs-2xl};
        --fs-xl: #{$fs-xl};
        --fs-lg: #{$fs-lg};
        --fs-md: #{$fs-md};
    }
}

@keyframes appear {
    from {
        opacity: 0;
        // scale: 0.5;
        transform: translateX(-100px);
    }
    to {
        opacity: 1;
        // scale: 1;
        transform: translateX(0px);
    }
}

%class-appear {
    animation: appear linear;
    animation-timeline: view(); /*vie2() idica solo la pasa cuando el elemento es visible en la pantalla*/
    animation-range: entry 0% cover 40%;
}

body {
    background-color: $clr-dark;
    color: white;
    font-size: 16px;
    font-family: system-ui, sans-serif;
    overflow-x: hidden;
}

h1, h2, h3, h4, h5, h6 {
    font-family: "jetbrainsmono", system-ui, sans-serif;
}
h1 {
    font-size: var(--fs-3xl);
    font-weight: $fw-medium;
}
h2 {
    font-size: var(--fs-2xl);
    font-weight: $fw-extrabold;
}
h3 {
    font-size: var(--fs-xl);
    font-weight: $fw-bold;
}
h4 {
    font-size: var(--fs-lg);
    font-weight: $fw-medium;
}
p {
    font-size: var(--fs-md);
}

a {
    text-decoration: none;
}

.container {
    padding: 0 .7rem;
    margin: 0 auto;
    @media (min-width: $query-md) {
        padding: 0 1.5rem;
        max-width: 80rem;
    }
}

.btn {
    display: inline-flex;
    justify-content: center;
    cursor: pointer;
    text-decoration: none;
    line-height: 1;
    font-family: $button-font-family;
    font-size: $button-font-size;
    text-transform: $button-text-transform;
    font-weight: $button-font-weight;
    padding: $button-padding;
    border: $button-border;
    border-radius: $button-border-radius;
    transition: 275ms ease;
}

.btn-primary {
    background-color: $clr-primary;
    color: $clr-dark;
    position: relative;
}
.btn-primary::after {
    content: '';
    width: 100%;
    height: 100%;
    background-color: $clr-accent;
    z-index: -1;
    position: absolute;
    top: 10%;
    left: 5%;
}

.card {
    display: flex;
    flex-flow: column nowrap;
    flex-grow: 1 auto;
    text-align: center;

    .card-body {
        padding: 1rem;
    }

    img {
        margin: 0 auto;
        margin-bottom: 1.5rem;
    }
}

header {
    position: sticky;
    top: 0;
    background-color: $clr-dark;
    padding: 1rem 0;
    z-index: 100;

    .header__logo {
        width: clamp(3rem, 2vw, 5rem);
    }
    .navbar {
        ul {
            list-style: none;
            display: flex;
            gap: .7rem;
            flex-wrap: nowrap;
            align-items: center;
            justify-content: space-between;
        }
        a {
            color: $clr-text;
            transition: 120ms ease-in;
            text-wrap: nowrap;
            font-size: var(--fs-md);
        }
        a:hover{
            color: $clr-primary;
        }
    }

    @media(min-width: $query-md) {
        .navbar {
            a{
                padding: .5rem 1rem;
                font-size: var(--fs-lg);
            }
        }
    }

}

header > *{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

@keyframes hola-appear {
    0% {
        opacity: .2;
        transform: translateX(-100px);
    }
    100% {
        opacity: 1;
        transform: translateX(0px);
    }
}


.hero {
    color: $clr-text;

    .container {
        animation: hola-appear 1s ease;
        animation-range: entry 0% cover 40%;
    }

    img {
        margin: 0 auto;
        width: clamp(15rem, 25vw, 20rem);
    }
    h1{
        text-transform: uppercase;
    }
    h2 {
        text-transform: capitalize;
    }

}

.hero > * {
    display: flex;
    flex-flow: column nowrap;
    text-align: center;
    padding: 5rem 0;
    gap: 1rem;
}

.proyects {
    background-color: $clr-neutral-900;
    padding: 5rem 0;

    .container {
        @extend %class-appear;
    }

    h2 {
        margin-bottom: 2rem;
    }
    .cards {
        display: flex;
        gap: 1rem;
        overflow-x: auto;
    }
    .cards:hover .card {
        filter: grayscale(.9);
    }
    .cards .card:hover {
        filter: grayscale(0);
    }
    .card {
        min-width: 70%;
        img {
            border-radius: 20px;
            transform: scale(1);
            transition: .3s ease all;
            width: clamp(20rem, 25rem, 30rem);
        }
        h3{
            margin-top: 1rem;
        }
        p {
            margin-top: .5rem;
            font-weight: $fw-medium;
            line-height: 1.4rem;
        }
    }
    .card:hover img {
        transform: scale(1.1);
    }
    @media (min-width: $query-md) {
        .cards {
            display: grid;
            grid-template-columns: repeat(3, 1fr);
            gap: 2rem;
            overflow-x: initial;
        }
    }
}

.about {
    padding: 5rem 0;
    .container {
        @extend %class-appear;
    }

    h2 {
        margin-bottom: 2rem;
    }

    p {
        position: relative
    }

    img.about__user {
        margin: 3rem auto 0;
        width: clamp(25rem, 27vw, 30rem);
    }

    .card {
        background: $clr-neutral-shade-100;
        padding: 1rem;
        border-radius: $rounded-md;
        align-items: center;
        padding: auto;
        justify-content: center;


        h3 {
            text-transform: uppercase;
        }
    }

    .about__left p::before {
        content: '"';
        font-size: 5rem;
        position: absolute;
        color: $clr-primary;
        top: .7rem;
        left: -2.4rem;
        line-height: 0;
    }

    .about__info {
        @media (min-width: $query-md) {
            display: grid;
            grid-template-columns: 40% 60%;
            gap: 2rem;
        }
    }
    .about__right {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: .7rem;
        margin-top: 2rem;

        img {
            // max-width: 5rem;
            width: 5rem;
            color: white;
        }
    }

    .about__right >:nth-child(2), .about__right >:nth-child(4) {
        margin-top: 1rem;
        margin-bottom: -1rem;
    }

    @media (min-width: $query-md) {
        .about__right {
            gap: 2rem;
        }
    }
}


.habilities {
    padding: 6rem 0rem 0rem;
    @extend %class-appear;
    h2 {
        padding-inline: 5rem;
    }
    .habilities__gallery {
        // border: 1px solid red;
        background-color: $clr-neutral-900;
        padding: 3rem 1rem;
        display: flex;
        justify-content: center;
        gap: 2rem;
        flex-wrap: wrap;
        align-items: center;
    }
    img {
        // width: 100%;
        // max-width: 7rem;
        width: clamp(5rem, 6rem, 7rem);
    }

    @media (min-width : $query-md) {
        .habilities__gallery {
            padding: 3rem 5rem;
            justify-content: center;
        }
    }
    @media (min-width : $query-lg) {
        .habilities__gallery {
            padding: 3rem 5rem;
            justify-content: space-between;
        }
    }
}

.experience {
    padding-bottom: 4rem;
    .container {
        @extend %class-appear;
    }

    h2 {
        margin-bottom: 2.3rem;
    }
    .card__info:not(:last-child) {
        margin-bottom: 1.2rem;
    }

    .card__info {
        .card-img {
            background-image: url(../assets/images/plane.webp);
            background-repeat: no-repeat;
            background-size: 100% 100%;
            width: 2rem;
            height: 2rem;
        }
    }

    @media (max-width: $query-md) {
        .experience__right {
            margin-top: 2rem;
        }
    }

    @media (min-width: $query-md) {
        .container {
            display: grid;
            gap: 1rem;
            grid-template-columns: repeat(2, 1fr);
        }
    }
    @media (min-width: $query-lg) {
        .container {
            gap: 2rem;
        }
    }
}

.card__info {
    text-align: left;
    background-color: $clr-neutral-shade-100;
    border-radius: $rounded-md;

    .card-body {
        display: grid;
        grid-template-columns: 30% 70%;
        align-items: center;
    }

    .card-body {
        padding: 2rem;
    }

    .card-body {
        display: flex;
        gap: 2rem;
    }

    p {
        font-size: var(--fs-lg);
        font-weight: normal;
    }
    span {
        font-size: .8em;
    }
}

footer {
    padding: 4rem 0;
    background-color: $clr-neutral-900;
    text-align: center;


    .container {
        animation: appear linear;
        animation-timeline: view();
        animation-range: entry 0% cover 20%;
    }
    .footer__img {
        background-color: #D9D9D9;
        border-radius: 100%;
        padding: 2rem;
        max-width:10rem;
        margin: 0 auto;
        margin-bottom: 1rem;
    }

    .footer__right :nth-child(1) {margin-bottom: .5rem;}
    .footer__right :nth-child(2) {margin-bottom: 1rem;}
    .footer__right :nth-child(3) {
        margin-bottom: 2rem;
    }

    .footer__right {
        h2 {  word-wrap: break-word;}
    }

    @media (min-width: $query-md) {

        > * {
            display: flex;
            align-items: center;
            justify-content: space-around;
        }

        .footer__img {
            // background-color: $clr-primary;
            margin-bottom: 0rem;
        }
    }
}
