@use 'index' as *;

body {
    background-color: $clr-dark;
    color: white;
    font-size: 16px;
    font-family: system-ui, sans-serif;
}

h1, h2, h3, h4, h5, h6 {
    font-family: "jetbrainsmono", system-ui, sans-serif;
}
h1 {
    font-size: $fs-3xl;
    font-weight: $fw-medium;
}
h2 {
    font-size: $fs-2xl;
    font-weight: $fw-extrabold;
}
h3 {
    font-size: $fs-xl;
    font-weight: $fw-bold;
}
h4 {
    font-size: $fs-lg;
    font-weight: $fw-medium;
}
p {
    font-size: $fs-md;
}

a {
    text-decoration: none;
}

.container {
    padding: 0 1.5rem;
    max-width: 80rem;
    margin: 0 auto;
}

.btn {
    display: inline-flex;
    justify-content: center;
    cursor: pointer;
    text-decoration: none;
    line-height: 1;
    font-family: $button-font-family;
    font-size: $button-font-size;
    text-transform: $button-text-transform;
    font-weight: $button-font-weight;
    padding: $button-padding;
    border: $button-border;
    border-radius: $button-border-radius;
    transition: 275ms ease;
}

.btn-primary {
    background-color: $clr-primary;
    color: $clr-dark;
    position: relative;
}
.btn-primary::after {
    content: '';
    width: 100%;
    height: 100%;
    background-color: $clr-accent;
    z-index: -1;
    position: absolute;
    top: 10%;
    left: 5%;
}

.card {
    display: flex;
    flex-flow: column nowrap;
    flex-grow: 1 auto;
    text-align: center;

    .card-body {
        padding: 1rem;
    }

    img {
        margin: 0 auto;
        margin-bottom: 1.5rem;
    }
}


header {
    position: sticky;
    top: 0;
    background-color: $clr-dark;
    padding: 1rem 0;
    z-index: 100;
    
    .header__logo {
        width: 100%;
        max-width: 4rem;
    }
    
    .navbar {
        ul {
            list-style: none;
            display: flex;
            align-items: center;
            gap: 1.5rem;
        }
        a {
            font-size: $fs-lg;
            color: $clr-text;
            padding: .5rem 1rem;
            transition: 120ms ease-in;
        }
        a:hover{
            color: $clr-primary;
        }
    }
}

header > *{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.hero {
    color: $clr-text;


    img {
        margin: 0 auto;
    }
    h1{
        text-transform: uppercase;
    }
    h2 {
        text-transform: capitalize;
    }
}

.hero > * {
    display: flex;
    flex-flow: column nowrap;
    text-align: center;
    padding: 5rem 0;
    gap: 1rem;

    img {
        max-width: 20rem;
    }
}

.proyects {
    background-color: $clr-neutral-900;
    padding: 5rem 0;

    h2 {
        margin-bottom: 2rem;
    }

    .cards {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        gap: 2rem;
    }

    .card {

        img {
            border-radius: 20px;
            transform: scale(1);
            transition: .3s ease all;
        }
        h3{
            margin-top: 1rem;
        }
        p {
            margin-top: .5rem;
            font-weight: $fw-medium;
            line-height: 1.4rem;
        }
    }
    .card:hover img {
        transform: scale(1.1);
    }
}

.about {
    padding: 5rem 0;

    h2 {
        margin-bottom: 2rem;
    }

    p {
        position: relative
    }
    img.about__user {
        margin: 3rem auto 0;
        // max-width: 40rem;
        max-width: 20rem;
    }

    .card {
        background: $clr-neutral-shade-100;
        padding-top: 2rem;
        padding-bottom: 1rem;
        border-radius: $rounded-md;

        h3 {
            text-transform: uppercase;
        }
    }

    .about__left p::before {
        content: '"';
        font-size: 5rem;
        position: absolute;
        color: $clr-primary;
        top: .7rem;
        left: -2.4rem;
        line-height: 0;
    }
}

.about .about__info {
    display: grid;
    grid-template-columns: 40% 60%;
    gap: 2rem;
}
.about__right {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 2rem;

    img {
        max-width: 5rem;
    }
}

.about__right >:nth-child(2), .about__right >:nth-child(4) {
    margin-top: 1rem;
    margin-bottom: -1rem;

}

.habilities {
    padding: 6rem 0rem 0rem;
    h2 {
        padding-inline: 5rem;
    }
    .habilities__gallery {
        background-color: $clr-neutral-900;
        padding: 3rem 5rem;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    img {
        width: 100%;
        width: 7rem;
        height: 7rem;
        object-fit: contain;
    }
}

.experience {
    padding-bottom: 4rem;
    .container {
        padding: 0;
        display: grid;
        gap: 2rem;
        grid-template-columns: repeat(2, 1fr);
    }

    h2 {
        margin-bottom: 2.3rem;
    }
    .card__info:not(:last-child) {
        margin-bottom: 1.2rem;
    }

    .card__info {
        .card-img {
            background-image: url(../assets/images/freelance.png);
            background-repeat: no-repeat;
            background-size: 100% 100%;
            width: 2rem;
            height: 2rem;
        }
    }
}

.card__info {
    text-align: left;
    background-color: $clr-neutral-shade-100;
    border-radius: $rounded-md;

    .card-body {
        display: grid;
        grid-template-columns: 30% 70%;
        align-items: center;
    }

    .card-body {
        padding: 2rem;
    }

    .card-body {
        display: flex;
        gap: 2rem;
    }

    p {
        font-size: $fs-lg;
        font-weight: normal;
    }
    span {
        font-size: .8em;
    }
}

footer {
    padding: 4rem 0;
    background-color: $clr-neutral-900;
    text-align: center;

    .footer__img {
        // background-color: $clr-primary;
        background-color: #D9D9D9;
        border-radius: 100%;
        padding: 2rem;
        max-width:10rem;
    }

    .footer__right :nth-child(1) {margin-bottom: .5rem;}
    .footer__right :nth-child(2) {margin-bottom: 1rem;}
    .footer__right :nth-child(3) {margin-bottom: 2rem;}
}

footer >* {
    display: flex;
    align-items: center;
    justify-content: space-around;
}